<!doctype html>
<html>
<head>
  <title>Undergoing Maintenance</title>
  <link rel="stylesheet" href="/components.css">
</head>
<body>
<div class="row grid-show">
  <div class="col-md-12 col-md-offset-6">
    <h1 class="type-brand-5"><%= @header %></h1>
    <p><%= @message %></p>
  </div>
</div>
</body>
</html>